/*------------------------------------------------------------------
 [Master Stylesheet]

  Project:	Star Admin Bootstrap Template [Free Version]
  Version:	2.0
-------------------------------------------------------------------*/



/*-------------------------------------------------------------------
  ===== Table of Contents =====

  * Bootstrap functions
  * Template variables
  * SCSS Compass Functions
  * Boostrap Main SCSS
  * Template mixins
    + Animation Mixins
    + Background Mixins
    + BlockQuote Mixins
    + Breadcrumbs
    + Badges Mixins
    + Buttons Mixins
    + Cards Mixins
    + Miscellaneous Mixins
    + Paginations
    + Tabs
    + Text Mixins
  * Core Styles
    + Reset Styles
    + Fonts
    + Functions
    + Sidebar
    + Navbar
    + Typography
    + Miscellaneous
    + Footer
    + Layouts
    + Utilities
    + Demo styles
    + Dashboard
  * Components
    + Badges
    + Bootstrap Progress
    + Breadcrumbs
    + Buttons
    + Cards
    + Checkboxes and Radios
    + Dropdowns
    + Forms
    + Icons
    + Paginations
    + Preview
    + Tables
    + Tabs
  * Landing screens
    + Auth
    + Error
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------*/
/* === Import Bootstrap functions and variables === */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

/*-------------------------------------------------------------------*/
/* === Import template variables === */
@import "variables";

/*-------------------------------------------------------------------*/
/* === SCSS Compass Functions === */
@import "../../../node_modules/compass-mixins/lib/compass";
@import "../../../node_modules/compass-mixins/lib/animate";

/*-------------------------------------------------------------------*/
/* === Boostrap Main SCSS === */
@import "../../../node_modules/bootstrap/scss/bootstrap";

/*-------------------------------------------------------------------*/
/* === Template mixins === */
@import "mixins/animation";
@import "mixins/background";
@import "mixins/blockqoute";
@import "mixins/breadcrumbs";
@import "mixins/badges";
@import "mixins/buttons";
@import "mixins/cards";
@import "mixins/misc";
@import "mixins/pagination";
@import "mixins/tabs";
@import "mixins/text";

/*-------------------------------------------------------------------*/
/* === Core Styles === */
@import "reset";
@import "fonts";
@import "functions";
@import "sidebar";
@import "navbar";
@import "typography";
@import "misc";
@import "footer";
@import "utilities";
@import "demo";
@import "dashboard";

/*-------------------------------------------------------------------*/
/* === Components === */
@import "components/badges";
@import "components/bootstrap-progress";
@import "components/breadcrumbs";
@import "components/buttons";
@import "components/cards";
@import "components/carousel";
@import "components/checkbox-radio";
@import "components/dropdown";
@import "components/forms";
@import "components/icons";
@import "components/pagination";
@import "components/preview";
@import "components/tables";
@import "components/tabs";

/*-------------------------------------------------------------------*/
/* === Landing screens === */
@import "landing-screens/auth";
@import "landing-screens/error";

.btn{
  background: #50ad5d;
  padding: $padding $padding*2;
  color: #ffffff;
  border: 0;
  &__dark{
    background: #454545;
    border: #454545;
    padding: 10px 15px;
    color: $white;
    border-radius: 4px;
    font-size: 14px;
  }
}
.v-login-register {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__lr {
    flex: 1;
    padding: 30px;
    border-radius: 0;
    border: 1px solid #d5d5d5;
    margin: 20px;
  }

  .single-input {
    display: block;
    flex: 0 0 100%;
    margin-top: 20px;
    max-width: 100%;
  }

  label {
    display: block;
    font-size: 14px;
    text-align: left;
  }

  input {
    height: 30px;
    line-height: 48px;
    width: 100%;
    font-size: 14px;
  }
}
.bg-blue{
  background-color: #3c8dbc;
}
.blue{
  color:blue;
}
.red{
  color:red;
}
.icon{
  font-size: 1.1rem;
}
.pointer{
  cursor: pointer;
}
#overlay {
  z-index: 1;
  position: absolute;
  top:0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
}
.mySpinner{
  position: absolute;
  top:50%;
  left: 46%;
}
.red-icon-color{
  color:red;
}

.category-card{
  display: flex;
  padding:5px 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.category-card__item{
  border:1px solid rgba(0,0,0,.1);
  border-radius: 10px;
  padding:7px 10px;
  box-sizing: border-box;
  width: 20%;
  margin:0 15px 25px;
  cursor: pointer;
}
.category-card__img:hover{
  opacity: .5;
}
.category-card__item:hover .category-card__text{
  color:#0B88EE;
}
.category-card__img{
  padding-bottom: 100%;
  position: relative;
  opacity: 1;
  transition: .3s opacity linear;
}
.category-card__img img{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.category-card__text{
  margin:12px 0 6px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  color:#7e7e7e;
  text-shadow: 0 2px 3px rgba(0,0,0,.5);
  transition: .2s color linear;
}
